*
!tests
!tests/**/*
!declarations
!declarations/**/*
!lib
!lib/**/*
!src
!src/**/*
!types
!types/**/*
!utils
!utils/**/*
!.eslintignore
!.eslintrc.cjs
!.gitignore
!.prettierignore
!.prettierrc.cjs
!.template-lintrc.cjs
!addon-main.cjs
!babel.config.json
!CONTRIBUTING.md
!package.json
!pnpm-lock.yaml
!README.md
!rollup.config.mjs
!tsconfig.json
!tsconfig.lib.json
!webpack.js
!babel.config.lib.json
!babel.config.ember.json
!.github
!.github/**/*